.DS_Store

# To stop me from accidentally uploading a 5GB file to GitLab
*.llamafile

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

temp/

.vscode/
.idea/
.env
env
venv
.venv

Pipfile
Pipfile.lock
env/

node_modules/