body, header,h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
    background: (to right, #b6fbff, #83a4d4);
    width: 100%;
    overflow-x: hidden;
}

.job-listings, .job-listing, .main-page, header {
    background-color: transparent;
    background: (to left, #b6fbff, #83a4d4);
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #b6fbff, #83a4d4);
}

header {
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    background-color: transparent;
}

header h1 {
    font-size: 6em;
    color: #d6fffe;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    font-family: 'Marker Felt', sans-serif;
    background: -webkit-linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4);
    -webkit-background-clip: text;
    margin-bottom: 0.5em;
    letter-spacing: 0.05em;
    font-weight: 900;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
}


.catchline {
    font-size: 1.4em;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(45deg, #ff6ec4, #7873f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase; 
}


.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    width: 100%;
}

.image-section {
    margin-left: auto;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.image-section img {
    object-fit: cover;
    width: 100%;
    max-width: 1000px;
}

.main-page {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 225px;
}


.search-box, .add-cv {
    width : 70%;
    margin: 2em auto;
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
}

.search-box label, .add-cv label{
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 25px;
    align-self: flex-start;
}

.search-box label {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.search-box input[type="text"], .add-cv input[type="file"] {
    border: 2px solid #ddd;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 10px;
    transition: border-color 0.25s ease-in-out;
}

.search-box button, .add-cv button {
    font-size: 20px;
    padding: 15px 25px;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out
}

.search-box button {
    margin-top: 10px;
}

.add-cv button {
    margin-top: -5px;
}

.add-cv form {
    width: 150%;
}

.search-box button:hover, .add-cv button:hover {
    background: linear-gradient(to right, #2575fc 0%, #6a11cb 100%);
    transform: translateY(-3px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.add-cv form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-cv input[type="file"] {
    width: 40%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.active-description {
    color: #000;
}

.search-box input[type="text"]:hover,
.search-box input[type="text"]:focus,
.add-cv input[type="file"]:hover,
.add-cv input[type="file"]:focus {
    border-color: #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.job-listings {
    list-style-type: none;
    margin: 30px auto;
    width: 70%;
    margin: 30px auto;
    width: 66%;
}

.job-listing h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
}

.job-listing a {
    text-decoration: none;
}

.job-listing {
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 20px;
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-family: 'Roboto', Arial, sans-serif;
}

.job-listing:hover {
    transform: translateY(-5px);
}

.job-listing h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.job-listing p {
    margin-bottom : 1em;
    color: #666;
}

.job-description {
    display: none;
    margin-top : 1em;
}

.expand-btn {
    font-size: 16px;
    padding: 10px 20px;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out;
}

.expand-btn a {
    color: #fff;
    text-decoration: none;
}

.expand-btn:hover {
    transform: scale(1.05)
}


@media screen and (max-width: 600px) {
    .search-box, .job-listings {
        width: 90%;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .image-section, .main-page {
        flex: none;
    }

    .image-section img {
        max-width: 100%;
    }
}


.fade {
    opacity: 0;
    transition: opacity 1.5s;
}

.rotating-question {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.visible {
    opacity: 1;
}