/* Reset some default styles */
body, header,h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

/* Apply a basic styling to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #efd1a3;
}

/* Style the header section */
header {
    background-color: #6b003a;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(to right, #6b003a, #6c7b8a)
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
}


.catchline {
    font-size: 1.4em;
    color: white;
    font-style: italic;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-box, .add-cv {
    width : 70%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}

.search-box label, .add-cv label{
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 1.5em;
    align-self: flex-start;
}

.search-box label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.search-box input[type="text"] {
    width: 95%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
}

 .search-box button, .add-cv button {
    margin-top: 1em;
    padding: 15px 30px;
    background: linear-gradient(to right, #ec407a, #d81b60);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-box button:hover, .add-cv button:hover {
    background: linear-gradient(to right, #d81b60, #c2185b);
    transform: scale(1.05);
}
.add-cv form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-cv input[type="file"] {
    width: 40%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-box input[type="text"]:hover,
.search-box input[type="text"]:focus,
.add-cv input[type="file"]:hover,
.add-cv input[type="file"]:focus {
    border-color: #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style the job listings */
.job-listings {
    list-style-type: none;
    margin: 20px auto;
    width: 70%;
}

.job-listing {
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow for lifted appearance */
    transition: transform 0.3s ease;
}

.job-listing:hover {
    transform: translateY(-5px); /* Add a slight upward movement on hover */
}

.job-listing h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.job-listing p {
    margin-bottom : 1em;
    color: #666;
}

.job-description {
    display: none;
    margin-top : 1em;
}

.expand-btn {
    background: linear-gradient(to right, #4CAF50, #388E3C);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.expand-btn:hover {
    transform: scale(1.05)
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    .search-box, .job-listings {
        width: 90%;
    }
}
