<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/design.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">

    <title>JammyJobber Search</title>
</head>
<body>

    <header>
        <h1>🍓 Welcome to JammyJobber! 🍓</h1>
        <p class="catchline">Let's find your jam</p>
    </header>
    
    <div class="main-page">
    
        <div class="search-box">
            <label for="search-input">Enter query here</label>
            <form action="" method="get">
                <input type="text" name="query" placeholder="Search here...">
                <button type="submit">Submit</button>
            </form>
        </div>
    
        <div class="add-cv">
            <label>Add CV to Database</label>
            {% if submitted %}
                Your CV was Submitted Successfully
            {% else %}
                <form action="" method ="POST" enctype = "multipart/form-data">
                {% csrf_token %}
                <input type="file" id="myFile" name="filename">
                <button type="submit">Upload</button>
                </form>
            {% endif %}
        </div>
    </div>
    <ul class="job-listings">
        {% for job in job_list %}
            <li class="job-listing">
                <a href=" {{ job.link }} "><h3>{{ job.title }}</h3></a>
                <p>{{ job.company }} @ {{ job.location }}</p>
                <button class="expand-btn" onclick="toggleDescription(this, '{{ job.job_id }}')">Show Description</button>
                <div id="description-{{ job.job_id }}" class="job-description">
                    <p>{{ job.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
    
   

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../../static/js/job_listing.js"></script>
</body>
</html>

