<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/design.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">

    <title>JammyJobber Search</title>
</head>
<body>

    <header>
        <h1>🍓JammyJobber🍓</h1>
        <p class="catchline">Let's find your jam!</p>
    </header>
    <div class="content-wrapper">
        <!-- <div class="image-container"> -->
            <div class="image-section" data-aos="fade-up" data-aos-duration="1000">
                <img src="https://media.giphy.com/media/l46Cy1rHbQ92uuLXa/giphy.gif?cid=790b7611bv1pls4x9yny0se9o4piryk1p22n8jt5mu4z8kag&ep=v1_gifs_search&rid=giphy.gif&ct=g alt="Descriptive Alt Text" style="transform: translate(250px,-90px);">
            </div>
        <!-- </div> -->
        
        
        <div class="main-page">

            <div class="search-box">
                <label for="search-input">Enter query here</label>
                <form action="" method="get">
                    <input type="text" name="query" placeholder="Search here...">
                    <input type="text" name="location_query" placeholder="Enter preferred location...">
                    <button type="submit">Submit</button>
                </form>
            </div>

            <div class="add-cv">
                {% if submitted %}
                    Your CV was Submitted Successfully
                {% else %}
                    <form action method ="POST" enctype = "multipart/form-data">
                    {% csrf_token %}
                        <label for="id_pdf">Add CV to Database</label>
                        <input type="file" name="pdf" required id="id_pdf">
                    <div class="submit-button-section">
                        <button class="submit-button" type="submit"> Update </button>
                    </div>
                    </form>
                {% endif %}
            </div>

        </div>
    </div>

    <ul class="job-listings">
        {% for job in job_list %}
            <li class="job-listing">
                <a href=" {{ job.link }} "><h3>{{ job.title }}</h3></a>
                <p>{{ job.company }} @ {{ job.location }}</p>
                <button class="expand-btn" onclick="toggleDescription(this, '{{ job.job_id }}')">Show Description</button>
                <button type="button" class="expand-btn" name="id" value = '{{ job.job_id }}' ><a href="/?id={{ job.job_id }}">Show Similar</a></button>
                <div id="description-{{ job.job_id }}" class="job-description">
                    <p>{{ job.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../../static/js/job_listing.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>

