<!-- loading.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/new_design.css">
    <title>Loading...</title>
    <style>
          /* Add CSS styles here */
        .image-section {
            margin-top: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh; /* Make the container fill the entire viewport height */
        }
    </style>
    
</head>
<body>
    <div class="image-section">
        <iframe src="https://giphy.com/embed/FpthtfH4hPzFPfi4d8" width="480" height="480" class="giphy-embed" ></iframe><p>
        <a href="https://giphy.com/gifs/yum-fruit-mauve-FpthtfH4hPzFPfi4d8"></a></p>
    </div>
    </div>
    <script>
        setTimeout(function() {
            const urlParams = new URLSearchParams(window.location.search);
            const query = decodeURIComponent(urlParams.get('query'));
            const location_query = decodeURIComponent(urlParams.get('location_query'));
            const url = "{% url 'results_page' %}?" +
                "query=" + encodeURIComponent(query) +
                "&location_query=" + encodeURIComponent(location_query);
            window.location.href = url;
        }, 1500); // 3000 milliseconds = 3 seconds
    </script>

</body>
</html>
